.note1 {
	width: 5.5%;
	position: absolute;
	top: 52px;
	left: 95px;
}
.note2 {
	width: 5.5%;
	position: absolute;
	top: 43px;
	left: 155px;
}
.note3 {
	width: 5.5%;
	position: absolute;
	top: 32px;
	left: 215px;
}
.note4 {
	width: 5.5%;
	position: absolute;
	top: 22px;
	left: 275px;
}
.note5 {
	width: 5.5%;
	position: absolute;
	top: 11px;
	left: 335px;
}
.note6 {
	width: 5.5%;
	position: absolute;
	top: 0px;
	left: 395px;
}
.note7 {
	width: 5.5%;
	position: absolute;
	top: -10.5px;
	left: 455px;
}
.note8 {
	width: 5.5%;
	position: absolute;
	top: -22px;
	left: 515px;
}
.note9 {
	width: 5.5%;
	position: absolute;
	top: -32px;
	left: 575px;
}
.note10 {
	width: 5.5%;
	position: absolute;
	top: -43px;
	left: 635px;
}
.note11 {
	width: 5.5%;
	position: absolute;
	top: -53px;
	left: 695px;
}
.note12 {
	width: 5.5%;
	position: absolute;
	top: -63px;
	left: 755px;
}
.note13 {
	width: 5.5%;
	position: absolute;
	top: -73px;
	left: 815px;
}
.note14 {
	width: 5.5%;
	position: absolute;
	top: -84px;
	left: 875px;
}
.note15 {
	width: 5.5%;
	position: absolute;
	top: -95px;
	left: 935px;
}