.note1 {
	width: 5%;
	position: absolute;
	top: 52px;
	left: 115px;
}
.note2 {
	width: 5%;
	position: absolute;
	top: 43px;
	left: 180px;
}
.note3 {
	width: 5%;
	position: absolute;
	top: 32px;
	left: 245px;
}
.note4 {
	width: 5%;
	position: absolute;
	top: 22px;
	left: 310px;
}
.note5 {
	width: 5%;
	position: absolute;
	top: 11px;
	left: 375px;
}
.note6 {
	width: 5%;
	position: absolute;
	top: 0px;
	left: 440px;
}
.note7 {
	width: 5%;
	position: absolute;
	top: -10.5px;
	left: 505px;
}
.note8 {
	width: 5%;
	position: absolute;
	top: -22px;
	left: 570px;
}
.note9 {
	width: 5%;
	position: absolute;
	top: -32px;
	left: 635px;
}
.note10 {
	width: 5%;
	position: absolute;
	top: -43px;
	left: 700px;
}
.note11 {
	width: 5%;
	position: absolute;
	top: -53px;
	left: 765px;
}
.note12 {
	width: 5%;
	position: absolute;
	top: -63px;
	left: 830px;
}
.note13 {
	width: 5%;
	position: absolute;
	top: -73px;
	left: 895px;
}
.note14 {
	width: 5%;
	position: absolute;
	top: -84px;
	left: 960px;
}
.note15 {
	width: 5%;
	position: absolute;
	top: -95px;
	left: 1025px;
}