		.flatline1{
			position: absolute;
			top: -33px;
			left: 755px;
			opacity: .9;
		}
		.flatline2{
			position: absolute;
			top: 113px;
			left: 96px;
			opacity: .9;
		}
		.flatline3{
			position: absolute;
			top: 113px;
			left: 155px;
			opacity: .9;
		}
		.flatline4{
			position: absolute;
			top: -13px;
			left: 695px;
			opacity: .9;
		}
		.flatline5{
			position: absolute;
			top: -13px;
			left: 755px;
			opacity: .9;
		}



.flatnote-2 {
	width: 5.6%;
	position: absolute;
	top: 61px;
	left: 90px;
}
.flatnote-1 {
	width: 5.6%;
	position: absolute;
	top: 52px;
	left: 90px;
}
.flatnote0 {
	width: 5.6%;
	position: absolute;
	top: 43px;
	left: 150px;
}
.flatnote1 {
	width: 5.6%;
	position: absolute;
	top: 32px;
	left: 210px;
}
.flatnote2 {
	width: 5.6%;
	position: absolute;
	top: 22px;
	left: 210px;
}
.flatnote3 {
	width: 5.6%;
	position: absolute;
	top: 11px;
	left: 270px;
}
.flatnote4 {
	width: 5.6%;
	position: absolute;
	top: 0px;
	left: 330px;
}
.flatnote5 {
	width: 5.6%;
	position: absolute;
	top: -10.5px;
	left: 450px;
}
.flatnote6 {
	width: 5.6%;
	position: absolute;
	top: -22px;
	left: 390px;
}
.flatnote7 {
	width: 5.6%;
	position: absolute;
	top: -32px;
	left: 450px;
}
.flatnote8 {
	width: 5.6%;
	position: absolute;
	top: -43px;
	left: 630px;
}
.flatnote9 {
	width: 5.6%;
	position: absolute;
	top: -53px;
	left: 510px;
}
.flatnote10 {
	width: 5.6%;
	position: absolute;
	top: -63px;
	left: 570px;
}
.flatnote11 {
	width: 5.6%;
	position: absolute;
	top: -73px;
	left: 630px;
}
.flatnote12 {
	width: 5.6%;
	position: absolute;
	top: -84px;
	left: 870px;
}
.flatnote13 {
	width: 5.6%;
	position: absolute;
	top: -95px;
	left: 690px;
}
.flatnote14 {
	width: 5.6%;
	position: absolute;
	top: -104px;
	left: 750px;
}