		.flatline1{
			position: absolute;
			top: -33px;
			left: 755px;
			opacity: .9;
		}
		.flatline2{
			position: absolute;
			top: 113px;
			left: 96px;
			opacity: .9;
		}
		.flatline3{
			position: absolute;
			top: 113px;
			left: 155px;
			opacity: .9;
		}
		.flatline4{
			position: absolute;
			top: -13px;
			left: 695px;
			opacity: .9;
		}
		.flatline5{
			position: absolute;
			top: -13px;
			left: 635px;
			opacity: .9;
		}



.trebleflatnote-1 {
	width: 5.6%;
	position: absolute;
	top: 52px;
	left: 90px;
}
.trebleflatnote1 {
	width: 5.6%;
	position: absolute;
	top: 32px;
	left: 150px;
}
.trebleflatnote2 {
	width: 5.6%;
	position: absolute;
	top: 23px;
	left: 210px;
}
.trebleflatnote4 {
	width: 5.6%;
	position: absolute;
	top: 0px;
	left: 270px;
}
.trebleflatnote5 {
	width: 5.6%;
	position: absolute;
	top: -10.5px;
	left: 330px;
}

.trebleflatnote6 {
	width: 5.6%;
	position: absolute;
	top: -20px;
	left: 390px;
}
.trebleflatnote8 {
	width: 5.6%;
	position: absolute;
	top: -43px;
	left: 450px;
}

.trebleflatnote9 {
	width: 5.6%;
	position: absolute;
	top: -53px;
	left: 510px;
}
.trebleflatnote11 {
	width: 5.6%;
	position: absolute;
	top: -73px;
	left: 570px;
}
.trebleflatnote12 {
	width: 5.6%;
	position: absolute;
	top: -84px;
	left: 630px;
}
.trebleflatnote13 {
	width: 5.6%;
	position: absolute;
	top: -93px;
	left: 690px;
}